.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.title {
  font-size: 2rem;
  color: var(--mainClr);
  text-align: center;
  margin: 2rem auto;
}
.row {
  display: flex;
}
.left {
  width: 50%;
  padding: 2rem;
}
.right {
  position: relative;
  width: 50%;
}

.autor {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar {
  position: relative;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 5px solid red;
}
.avatarContainer {
  position: relative;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 5px solid red;
}

.back {
  font-size: 1rem;
  position: absolute;
  width: max-content;
  background-color: aqua;
  padding: 1rem;
  border-radius: 10px;
  left: 0;
  top: 10px;
}
