.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.form {
  height: 40px;
  margin: 10px 0;

  input,
  button {
    height: 40px;
    border: 1px solid #0004;
    outline: none;
    padding: 0 10px;
    margin: 0 3px;
    background: transparent;
    cursor: pointer;
  }

  select {
    height: 40px;
  }
}

.row {
  display: flex;
  color: #000;
  margin: 10px 0;

  .prev,
  .next {
    width: 40px;
    height: 40px;
    background: transparent;
    border: 1px solid white;
    font-size: 1.3rem;
    cursor: pointer;
    border-radius: 50%;
    margin: 0 10px;

    &:hover {
      color: #fff;
      transition: 0.5s ease-out;
    }
  }

  span {
    height: 40px;
    line-height: 40px;
    font-weight: 600;
    padding: 0 0.5rem;
  }
}
