@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");

:root {
  --bgClr: #f2f2f2;
  --bgLightClr: #d2d2d2;
  --bgDarkClr: #787878;
  --blackClr: #333333;
  --mainClr: lightblue;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bgClr);
  color: var(--blackClr);
  font-family: "Nunito";
}

a {
  color: inherit;
  text-decoration: none;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
}

footer {
  display: block;
  text-align: center;
  padding: 30px 0;
  margin-top: 60px;
  color: var(--bgDarkClr);
}

.not-found {
  text-align: center;
}

.not-found p {
  margin-top: 2rem;
}
.not-found a {
  color: #4979ff;
  text-decoration: underline;
}
