.card {
  width: 300px;
  height: 400px;
  color: var(--mainClr);
  cursor: pointer;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;

  &:hover,
  &:focus,
  &:active {
    transform: scale(0.95);
    color: #1270f3;
    border-color: #1270f3;
  }

  .title {
    font-size: 2rem;
    text-align: center;
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
    line-height: 1.5;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.header {
  width: 100%;
  height: 75px;
}

.body {
  width: 100%;
  height: 100%;
  max-height: 325px;
}

.imgcontainer {
  width: 100%;
  height: 200px;
  position: relative;
}
